<div class="section cc-store-home-wrap">
  <div class="container">
    <div class="title-pages">Meu Material<br /></div>
    <h5 class="subtitulo-pages">
      Aqui você pode gerenciar e acessar seus cadernos de anotação, livros e
      também sua galeria.
    </h5>
    <div class="divider"></div>
    <div class="info-wrap">
      <div
        data-current="Tab 2"
        data-easing="ease"
        data-duration-in="300"
        data-duration-out="100"
        class="w-tabs"
      >
        <div class="tabs-menu-3 w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-material w-inline-block w-tab-link">
            <div>Meus Cadernos</div>
          </a>
          <a
            data-w-tab="Tab 2"
            class="tab-material w-inline-block w-tab-link w--current"
          >
            <div>Material de Apoio</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-material w-inline-block w-tab-link">
            <div>Minha Galeria</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane">
            <div class="div-content-tab-material">
              <div class="cont-new-caderno w-container">
                <div class="w-layout-grid grid-novo-caderno">
                  <div class="div-img-upload">
                    <img
                      width="67"
                      sizes="(max-width: 479px) 100vw, (max-width: 767px) 36.900001525878906px, 6vw"
                      src="assets/images/Design-sem-nome-8-1.png"
                      loading="lazy"
                      srcset="
                        assets/images/Design-sem-nome-8-1-p-500.png  500w,
                        assets/images/Design-sem-nome-8-1-p-800.png  800w,
                        assets/images/Design-sem-nome-8-1.png       1080w
                      "
                      alt=""
                      class="img-div-upload"
                    />
                  </div>
                  <div
                    id="w-node-_25d01cb3-ef40-e63b-5ec0-fad615c1a758-374eff4b"
                    class="form-block-novo-caderno w-form"
                  >
                    <form
                      class="form-novo-caderno"
                      (submit)="novoCaderno()"
                    >
                      <label for="name" class="label-forms"
                        >digite o nome desejado para o caderno de
                        anotações</label
                      ><input
                        type="text"
                        class="text-novo-caderno w-input"
                        maxlength="256"
                        name="name"
                        data-name="Name"
                        placeholder=""
                        id="name"
                        [(ngModel)]="novoCadernoNome"
                      /><input
                        type="submit"
                        value="Novo Caderno"
                        data-wait="Please wait..."
                        class="btn-forms-medium w-button"
                      />
                    </form>
                    <div class="w-form-done">
                      <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                      <div>
                        Oops! Something went wrong while submitting the form.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-user-upload w-container">
                <ul role="list" class="list w-list-unstyled">
                  <li class="list-item" *ngFor="let caderno of cadernoMock">
                    <div class="div-caderno" (click)="editarCaderno(caderno.id)">
                      <div class="cols-caderno w-row">
                        <div class="col-nome-caderno w-col w-col-9">
                          <div class="div-nome-caderno">
                            <h6 class="title-caderno">
                              {{caderno.nome}}
                            </h6>
                          </div>
                        </div>
                        <div class="col-botoes-edit-cadernos w-col w-col-3">
                          <div class="div-botoes-cadernos">
                            <a
                              href="#"
                              class="btn-generico btn-cadernos w-button"
                            >
                              Remover
                            </a>
                            <a
                              href="#"
                              class="btn-generico btn-cadernos w-button"
                              >Renomear</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                
                </ul>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
            <div class="div-content-tab-material">
              <div class="cont-div-upload w-container">
                <div class="div-upload">
                  <div class="div-img-upload">
                    <img
                      width="79"
                      sizes="(max-width: 479px) 100vw, 79px"
                      src="assets/images/upload-de-arquivo.png"
                      loading="lazy"
                      srcset="
                        assets/images/upload-de-arquivo-p-500.png 500w,
                        assets/images/upload-de-arquivo.png       512w
                      "
                      alt=""
                      class="img-div-upload"
                    />
                  </div>
                  <div class="div-cont-upload">
                    <h6 class="cont-upload-subtitulo">Faça upload de novos arquivos para que apareçam aqui na sua galeria.</h6>
                    <div class="html-embed input w-embed">
                      <form>
                        <label for="img">SELECIONE UM ARQUIVO</label>
                        <input type="file" id="test" name="test" accept=".pdf,.doc">
                        <input type="submit">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-user-upload w-container">
                <div class="cols-img-user-upload w-row">
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <img
                          sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                          srcset="
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124-p-500.png 500w,
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png       800w
                          "
                          src="assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png"
                          loading="lazy"
                          alt=""
                          class="img-user-upload"
                        />
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Arquivo</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <img
                          sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                          srcset="
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124-p-500.png 500w,
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png       800w
                          "
                          src="assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png"
                          loading="lazy"
                          alt=""
                          class="img-user-upload"
                        />
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Arquivo</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <img
                          sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                          srcset="
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124-p-500.png 500w,
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png       800w
                          "
                          src="assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png"
                          loading="lazy"
                          alt=""
                          class="img-user-upload"
                        />
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Arquivo</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <img
                          sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                          srcset="
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124-p-500.png 500w,
                            assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png       800w
                          "
                          src="assets/images/kisspng-microsoft-excel-computer-icons-xls-5ae28aa6adef26.6673316015247960707124.png"
                          loading="lazy"
                          alt=""
                          class="img-user-upload"
                        />
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Arquivo</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="div-content-tab-material">
              <div class="cont-div-upload w-container">
                <div class="div-upload">
                  <div class="div-img-upload">
                    <img
                      width="79"
                      sizes="(max-width: 479px) 100vw, 79px"
                      src="assets/images/envio.png"
                      loading="lazy"
                      srcset="
                        assets/images/envio-p-500.png 500w,
                        assets/images/envio.png       512w
                      "
                      alt=""
                      class="img-div-upload"
                    />
                  </div>
                  <div class="div-cont-upload">
                    <h6 class="cont-upload-subtitulo">Faça upload de novos arquivos para que apareçam aqui na sua galeria.</h6>
                    <div class="html-embed input w-embed">
                      <form>
                        <label for="img">SELECIONE UM ARQUIVO</label>
                        <input type="file" id="test" name="test" accept=".pdf,.doc">
                        <input type="submit">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-user-upload w-container">
                <div class="cols-img-user-upload w-row">
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <a href="#" class="w-inline-block w-lightbox"
                          ><img
                            sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                            srcset="
                              assets/images/Screenshot_2-p-500.png   500w,
                              assets/images/Screenshot_2-p-800.png   800w,
                              assets/images/Screenshot_2-p-1080.png 1080w,
                              assets/images/Screenshot_2.png        1116w
                            "
                            src="assets/images/Screenshot_2.png"
                            loading="lazy"
                            alt=""
                            class="img-user-upload"
                          />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "width": 1116,
                                  "caption": "",
                                  "height": 572,
                                  "fileName": "Screenshot_2.png",
                                  "origFileName": "Screenshot_2.png",
                                  "url": "assets/images/Screenshot_2.png",
                                  "_id": "6196ea73cf885ce25b7148d4",
                                  "type": "image",
                                  "fileSize": 519005
                                }
                              ]
                            }
                          </script>
                        </a>
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Imagem</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <a href="#" class="w-inline-block w-lightbox"
                          ><img
                            loading="lazy"
                            src="assets/images/Screenshot_4.png"
                            alt=""
                            class="img-user-upload"
                          />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "width": 439,
                                  "caption": "",
                                  "height": 290,
                                  "fileName": "Screenshot_4.png",
                                  "origFileName": "Screenshot_4.png",
                                  "url": "assets/images/Screenshot_4.png",
                                  "_id": "6196fea13008a8da91ebbba8",
                                  "type": "image",
                                  "fileSize": 91344
                                }
                              ]
                            }
                          </script>
                        </a>
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Imagem</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <a href="#" class="w-inline-block w-lightbox"
                          ><img
                            loading="lazy"
                            src="assets/images/Screenshot_3.png"
                            alt=""
                            class="img-user-upload"
                          />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "type": "image",
                                  "_id": "6196fea2de2f863dd44f723c",
                                  "fileName": "Screenshot_3.png",
                                  "origFileName": "Screenshot_3.png",
                                  "width": 500,
                                  "height": 504,
                                  "fileSize": 268997,
                                  "url": "assets/images/Screenshot_3.png"
                                }
                              ]
                            }
                          </script>
                        </a>
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Imagem</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-img-user-upload w-col w-col-3">
                    <div class="cont-video">
                      <div class="content-imagem-galeria">
                        <a href="#" class="w-inline-block w-lightbox"
                          ><img
                            sizes="(max-width: 479px) 42vw, (max-width: 767px) 25vw, 13vw"
                            srcset="
                              assets/images/Screenshot_1-p-500.png   500w,
                              assets/images/Screenshot_1-p-800.png   800w,
                              assets/images/Screenshot_1-p-1080.png 1080w,
                              assets/images/Screenshot_1.png        1110w
                            "
                            src="assets/images/Screenshot_1.png"
                            loading="lazy"
                            alt=""
                            class="img-user-upload"
                          />
                          <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "width": 1110,
                                  "caption": "",
                                  "height": 568,
                                  "fileName": "Screenshot_1.png",
                                  "origFileName": "Screenshot_1.png",
                                  "url": "assets/images/Screenshot_1.png",
                                  "_id": "6196fe6d21cb1a3d2e17762b",
                                  "type": "image",
                                  "fileSize": 176292
                                }
                              ]
                            }
                          </script>
                        </a>
                        <a href="#" class="btn-excluir w-button"
                          >Excluir Imagem</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
