<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navigation-wrap">
    <a routerLink="/" class="logo-link w-nav-brand"><img src="assets/images/zoom.jpg" width="94" sizes="94px" srcset="assets/images/zoom-p-1080.jpeg 1080w, assets/images/zoom.jpg 1600w" alt="" class="logo-image"></a>
    <div class="menu">
      <nav role="navigation" class="navigation-items w-nav-menu">
        <a routerLink="/" class="navigation-item w-nav-link">home</a>
        <a routerLink="info" class="navigation-item w-nav-link">minha conta</a>
        <a routerLink="material" aria-current="page" class="navigation-item w-nav-link w--current">material</a>
        <a routerLink="reunioes" class="navigation-item w-nav-link">reuniões</a>
        <a (click)="logout()" href="#" class="navigation-item w-nav-link">logout</a>
      </nav>
      <div class="menu-button w-nav-button"><img src="assets/images/menu.png" width="31" sizes="(max-width: 767px) 31px, 100vw" srcset="assets/images/menu-p-500.png 500w, assets/images/menu.png 512w" alt="" class="menu-icon"></div>
    </div>
  </div>
</div>