<div class="section cc-store-home-wrap">
  <div class="container">
    <div class="heading-jumbo-small">Olá, Stephanie Melo<br /></div>
    <div class="divider"></div>
    <div class="content-wrap">
      <div class="w-layout-grid about-grid">
        <div id="w-node-_86e64837-0616-515b-4568-76c147234d34-2f82f9c2">
          <div class="section-wrap">
            <div class="cardprofile">
              <div class="w-layout-grid grid">
                <div
                  id="w-node-a35fcc7a-e73f-157b-eb67-0bbcc5c37ced-2f82f9c2"
                  class="div-block"
                >
                  <img
                    src="assets/images/1587990530345-1.jpg"
                    loading="lazy"
                    width="97"
                    sizes="97px"
                    srcset="
                      assets/images/1587990530345-1-p-500.jpeg 500w,
                      assets/images/1587990530345-1.jpg        770w
                    "
                    alt=""
                    class="image"
                  />
                </div>
                <div class="div-block-3">
                  <h4 class="titulocard">Stephanie Melo</h4>
                  <h6 class="subtitulocard">Ciência da Computação</h6>
                  <h6 class="subtitulocard">Ciência da Computação</h6>
                </div>
              </div>
            </div>
            <div class="div-block-4">
              <div class="cardmenuhome">
                <div class="w-layout-grid grid cardmenu">
                  <div
                    id="w-node-cfef2de5-22c3-8f03-1925-3e4b979961b2-2f82f9c2"
                    class="div-block cardmenu"
                  >
                    <img
                      src="assets/images/user-1.png"
                      loading="lazy"
                      width="40"
                      sizes="40px"
                      srcset="
                        assets/images/user-1-p-500.png 500w,
                        assets/images/user-1.png       512w
                      "
                      alt=""
                      class="imagecardmenu"
                    />
                  </div>
                  <div
                    id="w-node-cfef2de5-22c3-8f03-1925-3e4b979961b4-2f82f9c2"
                    class="div-block-3 acrdmenu"
                  >
                    <h4 class="titulocard cardmenu">Suas Informações</h4>
                    <h6 class="subtitulocard cardmenu">Gerencie seu perfil</h6>
                  </div>
                  <a
                    id="w-node-_3641b7aa-c5e7-64c2-cd30-01b2df71a618-2f82f9c2"
                    href="#"
                    class="w-inline-block"
                    ><img
                      src="assets/images/right.png"
                      loading="lazy"
                      width="62"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="cardmenuhome">
                <div class="w-layout-grid grid cardmenu">
                  <div
                    id="w-node-_6c94cea4-8c54-2d45-cff7-1b2dbe5affb8-2f82f9c2"
                    class="div-block cardmenu"
                  >
                    <img
                      src="assets/images/settings.png"
                      loading="lazy"
                      width="40"
                      sizes="40px"
                      srcset="
                        assets/images/settings-p-500.png 500w,
                        assets/images/settings.png       512w
                      "
                      alt=""
                      class="imagecardmenu"
                    />
                  </div>
                  <div
                    id="w-node-_6c94cea4-8c54-2d45-cff7-1b2dbe5affba-2f82f9c2"
                    class="div-block-3 acrdmenu"
                  >
                    <h4 class="titulocard cardmenu">Configurações da Conta</h4>
                    <h6 class="subtitulocard cardmenu">Gerencie seu perfil</h6>
                  </div>
                  <a
                    id="w-node-_6c94cea4-8c54-2d45-cff7-1b2dbe5affbf-2f82f9c2"
                    href="#"
                    class="w-inline-block"
                    ><img
                      src="assets/images/right.png"
                      loading="lazy"
                      width="41"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="cardmenuhome">
                <div class="w-layout-grid grid cardmenu">
                  <div
                    id="w-node-_7a3f383d-48c7-05f4-9eb7-588138603716-2f82f9c2"
                    class="div-block cardmenu"
                  >
                    <img
                      src="assets/images/profile.png"
                      loading="lazy"
                      width="40"
                      sizes="40px"
                      srcset="
                        assets/images/profile-p-500.png 500w,
                        assets/images/profile.png       512w
                      "
                      alt=""
                      class="imagecardmenu"
                    />
                  </div>
                  <div
                    id="w-node-_7a3f383d-48c7-05f4-9eb7-588138603718-2f82f9c2"
                    class="div-block-3 acrdmenu"
                  >
                    <h4 class="titulocard cardmenu">Meu Avatar</h4>
                    <h6 class="subtitulocard cardmenu">Gerencie seu perfil</h6>
                  </div>
                  <a
                    id="w-node-_7a3f383d-48c7-05f4-9eb7-58813860371d-2f82f9c2"
                    href="#"
                    class="w-inline-block"
                    ><img
                      src="assets/images/right.png"
                      loading="lazy"
                      width="41"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="cardmenuhome">
                <div class="w-layout-grid grid cardmenu">
                  <div
                    id="w-node-b1d686fd-7a0c-df2a-f242-d25860ab6e20-2f82f9c2"
                    class="div-block cardmenu"
                  >
                    <img
                      src="assets/images/books-stack-of-three.png"
                      loading="lazy"
                      width="40"
                      sizes="40px"
                      srcset="
                        assets/images/books-stack-of-three-p-500.png 500w,
                        assets/images/books-stack-of-three.png       512w
                      "
                      alt=""
                      class="imagecardmenu"
                    />
                  </div>
                  <div
                    id="w-node-b1d686fd-7a0c-df2a-f242-d25860ab6e22-2f82f9c2"
                    class="div-block-3 acrdmenu"
                  >
                    <h4 class="titulocard cardmenu">Meu Material</h4>
                    <h6 class="subtitulocard cardmenu">Gerencie seu perfil</h6>
                  </div>
                  <a
                    id="w-node-b1d686fd-7a0c-df2a-f242-d25860ab6e27-2f82f9c2"
                    href="#"
                    class="w-inline-block"
                    ><img
                      src="assets/images/right.png"
                      loading="lazy"
                      width="41"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-ccd33769-5750-996d-6ce8-d086a8efb5c8-2f82f9c2">
          <h4 class="heading-3">Como você está hoje?</h4>
          <div
            data-current="Tab 1"
            data-easing="ease"
            data-duration-in="300"
            data-duration-out="100"
            class="w-tabs"
          >
            <div class="w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                <div class="div-humor">
                  <img
                    width="244"
                    sizes="(max-width: 479px) 88vw, 244px"
                    src="assets/images/ficar-em-casa.png"
                    loading="lazy"
                    srcset="
                      assets/images/ficar-em-casa-p-500.png 500w,
                      assets/images/ficar-em-casa.png       512w
                    "
                    alt=""
                    class="imagem-humor"
                  />
                </div>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <div class="div-humor">
                  <img
                    width="244"
                    sizes="(max-width: 479px) 88vw, 244px"
                    src="assets/images/lendo.png"
                    loading="lazy"
                    srcset="assets/images/lendo-p-500.png 500w, assets/images/lendo.png 512w"
                    alt=""
                    class="imagem-humor"
                  />
                </div>
              </div>
              <div data-w-tab="Tab 3" class="w-tab-pane">
                <div class="div-humor">
                  <img
                    width="244"
                    sizes="(max-width: 479px) 88vw, 244px"
                    src="assets/images/chamada-de-video.png"
                    loading="lazy"
                    srcset="
                      assets/images/chamada-de-video-p-500.png 500w,
                      assets/images/chamada-de-video.png       512w
                    "
                    alt=""
                    class="imagem-humor"
                  />
                </div>
              </div>
            </div>
            <div class="tabs-menu w-tab-menu">
              <a
                data-w-tab="Tab 1"
                class="tab-link-tab-1 w-inline-block w-tab-link w--current"
              >
                <div>
                  <img
                    width="59"
                    sizes="(max-width: 479px) 12vw, 59px"
                    src="assets/images/ficar-em-casa.png"
                    loading="lazy"
                    srcset="
                      assets/images/ficar-em-casa-p-500.png 500w,
                      assets/images/ficar-em-casa.png       512w
                    "
                    alt=""
                  />
                </div>
              </a>
              <a
                data-w-tab="Tab 2"
                class="tab-link-tab-2 w-inline-block w-tab-link"
              >
                <div>
                  <img
                    width="59"
                    sizes="(max-width: 479px) 12vw, 59px"
                    src="assets/images/lendo.png"
                    loading="lazy"
                    srcset="assets/images/lendo-p-500.png 500w, assets/images/lendo.png 512w"
                    alt=""
                  />
                </div>
              </a>
              <a
                data-w-tab="Tab 3"
                class="tab-link-tab-3 w-inline-block w-tab-link"
              >
                <div>
                  <img
                    width="59"
                    sizes="(max-width: 479px) 12vw, 59px"
                    src="assets/images/chamada-de-video.png"
                    loading="lazy"
                    srcset="
                      assets/images/chamada-de-video-p-500.png 500w,
                      assets/images/chamada-de-video.png       512w
                    "
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
