<div class="cont-new-classe w-container">
    <div class="w-layout-grid grid-nova-classe">
        <div id="w-node-_25d01cb3-ef40-e63b-5ec0-fad615c1a758-159d9d9d" class="form-block-novo-caderno w-form">
            <table>
                <thead>
                    <tr>

                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let membro of membros">

                        <td>{{membro.first_name}}</td>
                        <td>{{membro.last_name}}</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>